<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body class="container">
    <main>
      <div class="flex flex-col p-2">
        <h1 class="font-bold text-xl">Hello World!</h1>
        <p>Using Tailwind everywhere is fun!</p>
      </div>
    </main>
  </body>
</html>
